APP_NAME=Kloterby Meme API
APP_ENV=development
APP_DEBUG=true
API_V1_PREFIX=/api

DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/kloterby
JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=1440

REDIS_URL=redis://localhost:6379/0

STORAGE_DRIVER=local
STORAGE_BUCKET=kloterby-meme
STORAGE_REGION=ap-southeast-1
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=

WA_PROVIDER=fonnte
WA_BASE_URL=https://api.fonnte.com
WA_TOKEN=

NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000/api
