# backend/.env
# Replace with your Public Database URL from Railway
DATABASE_URL=postgresql://postgres:oOxwQUUHGfqpYtkgoUZSzhvMpwWKqnMg@roundhouse.proxy.rlwy.net:PORT/railway

APP_ENV=development
APP_DEBUG=True
JWT_SECRET_KEY=yoursecretkeyhere
JWT_ALGORITHM=HS256

REDIS_URL=redis://localhost:6379/0
WA_TOKEN=your_wa_token_here
